{% extends 'core/base.html'%}
{% load static %}
{% load crispy_forms_tags%}

{% block content %} 


       <!-- /showback -->
            <!--  MODALS -->
            <div class="showback">
              <!-- Button trigger modal -->
              <!-- Modal -->
              <div class="modal fade" style="background-color: #FFF;color:black;" id="modalPreench" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header" style="background-color: #FFF7E1;color:black;">
                      <button type="button" style="background-color: #E35205" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="preenchimento">Modal title</h4>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <!-- /showback -->

{% endblock content %}