{% extends 'core/base.html'%}
{% load static %}
{% load crispy_forms_tags%}

{% block content %} 

      <!-- BASIC FORM ELELEMNTS -->
      {%if user.is_authenticated %}
      <div class="row">
        <div class="col-lg-12 ">
          <div  style="background-color: #95F3C6;">
            <br>
            <h4 class="mb">PREENCHA OS DADOS</h4>
            <form class="form-horizontal"  action="{% url 'preenchimento' %}" method="post">{% csrf_token %}

              <div class="form-group col-sm-12 col-lg-12">
                <label class="col-sm-2 col-sm-2 control-label"></label>
                <div class="col-sm-8 col-lg-8">
                  <div class="col-sm-12 col-lg-12">
                    {{form.distribuidoras|as_crispy_field}}
                  </div>
                  <div class="col-sm-12 col-lg-12">
                    {{form.grupo_tarifario|as_crispy_field}}
                  </div>
                  <div class="col-sm-12 col-lg-12">
                    {{form.modalidade|as_crispy_field}}
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" onclick="toggleFields(this)" >
                    <label class="form-check-label" for="flexCheckDefault">
                      Confirmar Modalidade Azul
                    </label>
                  </div>
                  <div class="col-sm-12 col-lg-12">
                    {{form.consumo_ponta|as_crispy_field}}
                  </div>
                  <div class="col-sm-12 col-lg-12">
                    {{form.consumo_fponta|as_crispy_field}}
                  </div>
                  <div class="col-sm-12 col-lg-12">
                    {{form.consumo_demanda_fponta|as_crispy_field}}
                  </div>
                  <div class="col-sm-12 col-lg-12">
                    <label class="" for="flexCheckChecked">Demanda Ponta</label>
                    <br>
                    <input style="color:black" type="text" class="form-control field col-sm-12 col-lg-12" disabled {{form.consumo_demanda_ponta}}>
                  </div>



                  <button type="submit" class="btn btn-theme">Enviar</button>


                  
                </div>
              </div>

              <div class="form-group">
                
                <div class="col-lg-12">
                </div>
              </div>
            </form>
          </div>
        </div>
        <script>
          function toggleFields(checkbox) {
            var formFields = document.querySelectorAll(".field");
            for (var i = 0; i < formFields.length; i++) {
              formFields[i].disabled = !checkbox.checked;
            }
          }
          </script>
        {% endif %}
        

        {% endblock content %}